
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Michroma&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Exo+2:wght@300&family=Michroma&display=swap');

/* color palette (goes from lightest pink to darkest which is black)
#D90769 (magenta)
#D9117F (pink)
#731953 (more purple)
#313759 (background)
#0D0D0D (black)
*/

::selection {
    background-color: white;
    color:#be0d5a;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


/*body or entire page stuff */
body {
    background: linear-gradient(90deg, #181c2f, #d80560);
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    overflow-x: hidden;
}

/* end of entire page section stuff */

/*hero page section */
.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    display: flex;
    flex-wrap: wrap;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/hero_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(50%);
    display:flex;
}
.hero-content {
    position: relative;
    font-family: 'Michroma',sans-serif, arial;
    color: white;
    text-align: center;
    margin: 0.625rem;
    margin-top: 2em;

}
.hero-title {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 0;
    flex-direction: column-reverse;
}
.hero-title,
.hero-title::after {
	animation-delay: var(--animation-delay, 2s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.hero-title {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;

	animation-name: clip-text;
	color: #FFF;
	white-space: nowrap;
	cursor: default;
}
	.hero-title::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color:#d80560;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}

@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}
@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	60%, 100% {
		transform-origin: 100% 50%;		
	}
	60% {
		transform: scaleX(1);
	}
	100% {
		transform: scaleX(0);
	}
}

.hero-subtitle {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 1rem;
    flex-direction:row;
    word-spacing: 5px;
    margin-bottom: 6rem;
}

/*navigation section */
nav {
    position:relative;
    width: 100%;
    bottom: 40px;
    z-index: 1;
    font-family: 'Michroma',sans-serif, arial;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    position:relative;
}
nav li {
    margin: 0 15px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #ffffff; 
    border-radius: 5px;
    color:#181c2f;
    transition: background-color 0.3s ease;
    box-shadow: 0 0.25rem 0.5rem 0 rgb(223, 32, 95);
}
.button:hover {
    background-color: #c12151; 
    color: white;
    box-shadow: 0 0.25rem 0.5rem 0 rgb(255, 255, 255);
}

/*end of nav section*/
/*end of hero page section */


/* start of the actual body/text section */
/*starting with the about-me section*/
#About-Me {
    background-color:#181c2f;
    color:#181c2f;
    background: linear-gradient(130deg,#be0d5a 50%, #181c2f 50%);
    width: 100%;
}
dl {
    color:#cfcfcf; 
}
#About-Me p {
    color:rgb(228, 228, 228); 
}
/*about me header*/
.about-me-header span {
    color:#ffffff;
}
.about-me-header {
    background:linear-gradient(110deg, #181c2f, #d80560);
    font-family:'Michroma';
    border-width: thick;
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
    font-size: 3em;
    display: block;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
}
@keyframes reveal {
  1% {
    transform: translate(0,100%);
  }
  100% {
    transform: translate(0,0);
  }
}
/*end of about me heading*/

/*introduction*/
.introduction-heading{
    display: flex;
    flex-wrap: nowrap;
    background-color: #85224d;
    font-size: 2em;
    width: 30%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    padding: 10px;
    color:white;
    border-radius: 5px;
    float:left;
}

.intro {
    padding: 5px;
    line-height: 2;
    font-size: 20px;
    background-color:#181c2f;
}
.hobbies-interest {
    display: flex;
    flex-wrap: nowrap;
    background-color:#85224d;
    font-size: 2em;
    width: 30%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    padding: 10px;
    color:white;
    border-radius: 5px;
}
.hobbies-interest-list {
    padding: 5px;
    line-height: 2;
    font-size: 20px;
}
dt {
    display: flex;
    flex-wrap: nowrap;
    background-color:#85224d;
    width: 15%;
    color:white;
    text-decoration: none;
    margin: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

/*aside thing*/
h4 {
    color:white;
    font-size:  20px;
}
aside {
    background:linear-gradient(180deg, #181c2f 50%, #d80560 );
    float: right;
    padding: 0.5em 2em;
    margin: 3em;
    border-radius: 5px;
    justify-content: center;
    border: solid;
    border-color:#d80560;
    border-width: 5px;
    border-radius: 5px;
    display: flex; /* Use flex display for centering */
    align-items: center; 
}
aside ol {
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    text-decoration: none;
}
ol li a{
    color:white;
    list-style:none;
    text-align:left;
    margin: 5px;
}

.sitebutton {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #ffffff; 
    border-radius: 5px;
    color:#181c2f;
    transition: background-color 0.3s ease;
    display: flex;
    box-shadow: 0 0.25rem 0.5rem 0 rgb(223, 32, 95);
}
.sitebutton:hover{
    background-color: #c12151; 
    color: white;
    box-shadow: 0 0.25rem 0.5rem 0 rgb(255, 255, 255);
}
/*aside thing*/

/*goals section*/
.goals-header {
    display: flex;
    flex-wrap: nowrap;
    background-color: #85224d;
    width: 30%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    padding: 10px;
    color:white;
    float:left;
}

table {
    width: 65%; /* Set a width for the table */
    border-collapse: collapse;
    margin-top: 10px;
    border:#181c2f;
    border-width: 10px;
    padding: 5px;
    line-height: 2;
    font-size: 20px;
    display: flex;
    margin-left: auto;
    border-radius: 5px;
}

th {
    background:linear-gradient(90deg, #181c2f 20%, #d80560 );
    color:#FFF;
    padding: 10px;
    font-size: 30px;
}
td {
    border: 1px solid #ddd;
    padding: 10px;
    color:#cfcfcf;
}
tr:nth-child(even) {
    background-color:#181c2f
}
tr:nth-child(odd) {
    background-color:#be0d5a;
}
/*end of goals section*/

/*start of the works section*/
#work {
    background: linear-gradient(60deg,#be0d5a 50%, #181c2f 50%);
}

.my-works-header {
     background:linear-gradient(110deg, #181c2f, #d80560);
     font-family:'Michroma';
     border-width: thick;
     margin: 0;
    padding: 0;
     text-align: center;
       display: block;
     font-size: 3em;
     display: block;
    color:white;
}
.worksub  {
    color:white;
    text-align:center;
    font-size:2rem;
    background-color:#85224d;
    width: 30%;
    margin-top: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

/*The actual images */
.container,
.containerschool {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: center;
}
.container img, .containerschool img {
    max-width: 100%;
    height: auto;
    flex: none;
    filter: drop-shadow(10px 10px 10px #222);
}
.my-works {
    text-align: center;
}

figcaption {
    text-decoration: none;
    font-size: 1.5rem;
    background: linear-gradient(90deg, #181c2f, #d80560);
    border-radius: 5px;
    margin-top: 10px;
    color:white;
    filter: drop-shadow(5px 5px 5px #222);
    transition: background-color 0.3s ease;
}

figcaption:hover {
    background:white;
    color:#be0d5a;
}
/* end of the works section */


/*contacts section!*/
.contacts-header {
    background:linear-gradient(90deg, #181c2f, #d80560);
   font-family:'Michroma';
   color:white;
   border-width: thick;
   margin: 0;
   padding: 0;
   text-align: center;
   display: block;
   font-size: 3em;
   display: block;
}
#Contacts {
    text-align: center;
}

#Contacts a {
    display: inline-block;
    margin: 0 10px;
}

#Contacts img {
    vertical-align: middle;
    padding: 30px;
}
/*end of contacts section!*/


/* footer section? */
footer {
    background-color: #181c2f;
    color: white;
}
.btt a{
    color: white;
    text-decoration: none;
}
/* end of footer section */



/* experiementing with a scroll to top button without javascript */
:root {
    scroll-behavior: smooth;
}

.stt {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgb(255, 255, 255) url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
    box-shadow: 0 0.25rem 0.5rem 0 rgb(223, 32, 95);
  }
  .stt:hover {
    background-color:#c12151;
    transition: background-color 0.3s ease;
  }
  .stt:focus {
    opacity: 0.9;
  }
  .stt:active {
    opacity: 1;
  }
  /* end of the scroll to top buttom */



/*Media equery?*/
  @media only screen and (max-width: 768px) {
    .hero {
        height: auto;
        min-height: 100vh;
    }

    .hero::before {
        background-attachment: scroll;
    }

    .hero-content {
        margin-top: 1em;
    }

    .hero-title {
        font-size: 3.5rem;
    }

    .hero-subtitle {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    nav {
        bottom: 20px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }
}

